@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg-rgb: 0, 0, 0;
  --bg-secondary-rgba: 214, 214, 216, 0.5;
  --bg-primary-rgb: 244, 245, 248;
}

.dark {
  --fg-rgb: 255, 255, 255;
  --bg-secondary-rgba: 60, 60, 65, 0.5;
  --bg-primary-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--fg-rgb));
  background: rgb(var(--bg-primary-rgb))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
